<?xml version="1.0" encoding="utf-8"?>
<manifest package = "com.X5WebView.android"
          xmlns:android = "http://schemas.android.com/apk/res/android">

    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 短信验证登陆功能需要添加次权限来自动填充验证码，用不到可以去掉 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name = "com.X5WebView.android.App"
        android:allowBackup = "true"
        android:hardwareAccelerated = "true"
        android:icon = "@mipmap/ic_launcher"
        android:label = "@string/app_name"
        android:supportsRtl = "true"
        android:theme = "@style/AppTheme">

        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>

        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.X5WebView.android.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data android:name="Mob-AppKey" android:value="您的AppKey"/>
        <meta-data android:name="Mob-AppSecret" android:value="您的AppSecret"/>


        <activity
            android:name = "com.X5WebView.android.ui.SplashActivity"
            android:screenOrientation = "portrait">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />

                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name = "com.X5WebView.android.update.UpdataService"
            android:exported = "false" />

        <activity
            android:name = "com.X5WebView.android.ui.MainActivity"
            android:screenOrientation = "portrait"
            android:windowSoftInputMode = "adjustPan">
        </activity>

        <activity
            android:name = "com.X5WebView.android.ui.WebActivity"
            android:screenOrientation = "portrait"
            android:windowSoftInputMode = "adjustPan">
        </activity>

        <activity android:name = "com.X5WebView.android.ui.GuideActivity">
        </activity>

        <activity android:name = "com.X5WebView.android.ui.ADActivity">
        </activity>
    </application>

</manifest>